{% extends 'base.html' %}
{% block title %}Clientes{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h3>Clientes</h3>
    <a href="{% url 'clientes:criar_cliente' %}" class="btn btn-primary">Novo Cliente</a>
</div>

<div class="card shadow-sm">
    <div class="card-body">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Criado em</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.cpf_formatado }}</td>
                    <td>{{ cliente.telefone }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.criado_em|date:"d/m/Y" }}</td>
                    <td>

<!-- Botão de editar incrementado no projeto-->
                        <a href="{% url 'clientes:editar_cliente' cliente.id %}" 
   class="btn btn-sm btn-warning btn-sm">
   Editar
</a>

<!-- Botão de excluir incrementado no projeto-->
                        <a href="{% url 'clientes:excluir_cliente' cliente.id %}" 
   class="btn btn-danger"
   onclick="return confirm('Tem certeza que deseja excluir este cliente?');">
   Excluir
</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">Nenhum cliente cadastrado</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}